body {
    background: #e5e5e5;
}
 
.social-icon-wrap {
    width: 550px;
    margin: 100px auto;
}
 
.social-icon {
    float: left;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 2px 0px rgba(255,255,255,0.4) inset, 0 -2px 0px rgba(0,0,0,0.5) inset;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}
 
.social-icon i {
    display: block;
    z-index: 1;
    color: #fff;
    line-height: 100px;
    font-size: 60px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3),
    6px 6px 5px rgba(0, 0, 0, 0.3),
    9px 9px 5px rgba(0, 0, 0, 0.3),
    12px 12px 12px rgba(0, 0, 0, 0.3);
}
 
.social-icon:hover {
    transform: translate(0, -10px);
}
 
.social-facebook {
    background: linear-gradient(rgb(88, 128, 219), rgb(57, 85, 151));
}
  
.social-youtube {
    background: linear-gradient(rgb(245, 55, 64), rgb(228, 10, 54));
}