[id*="shadow"] {
    font-size: 30px;
    color: white;
}

#shadow01 {
    text-shadow: 1px 1px 5px black;
}

#shadow02 {
    text-shadow: 1px 1px 5px black,
                 2px 2px 6px yellowgreen,
                 2px 2px 15px yellowgreen;
}

#shadow03 {
    background-color: peru;
    box-sizing: border-box;
    margin-bottom: 40px;
    width: 7cm;
    height: 7cm;
    padding: 30px;
    box-shadow: 5px 5px 0px rgb(157, 97, 37),
                10px 10px 0px rgb(99, 57, 15),
                15px 15px 0px rgb(70, 39, 8),
                20px 20px 0px rgb(40, 22, 3),
                25px 25px 0px black;
}

#practice01 {
    font-weight: 600;
    font-size: 80pt;
    font-family: 'Luckiest Guy';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#text01 {
    text-shadow:   0px -6px 0 #aa1c1c,  
                   0px -6px 0 #aa1c1c,
                   0px  6px 0 #aa1c1c,
                   0px  6px 0 #aa1c1c,
                  -6px  0px 0 #aa1c1c,  
                   6px  0px 0 #aa1c1c,
                  -6px  0px 0 #aa1c1c,
                   6px  0px 0 #aa1c1c,
                  -6px -6px 0 #aa1c1c,  
                   6px -6px 0 #aa1c1c,
                  -6px  6px 0 #aa1c1c,
                   6px  6px 0 #aa1c1c,
                  -6px  18px 0 #aa1c1c,
                   0px  18px 0 #aa1c1c,
                   6px  18px 0 #aa1c1c,
                   0 19px 1px rgba(0,0,0,.1),
                   0 0 6px rgba(0,0,0,.1),
                   0 6px 3px rgba(0,0,0,.3),
                   0 12px 6px rgba(0,0,0,.2),
                   0 18px 18px rgba(0,0,0,.25),
                   0 24px 24px rgba(0,0,0,.2),
                   0 36px 36px rgba(0,0,0,.15);
  
}

#text02 {
    text-shadow:   0px -6px 0 rgb(66, 88, 212),  
                   0px -6px 0 rgb(66, 88, 212),
                   0px  6px 0 rgb(66, 88, 212),
                   0px  6px 0 rgb(66, 88, 212),
                  -6px  0px 0 rgb(66, 88, 212),  
                   6px  0px 0 rgb(66, 88, 212),
                  -6px  0px 0 rgb(66, 88, 212),
                   6px  0px 0 rgb(66, 88, 212),
                  -6px -6px 0 rgb(66, 88, 212),  
                   6px -6px 0 rgb(66, 88, 212),
                  -6px  6px 0 rgb(66, 88, 212),
                   6px  6px 0 rgb(66, 88, 212),
                  -6px  18px 0 rgb(66, 88, 212),
                   0px  18px 0 rgb(66, 88, 212),
                   6px  18px 0 rgb(66, 88, 212),
                   0 19px 1px rgba(0,0,0,.1),
                   0 0 6px rgba(0,0,0,.1),
                   0 6px 3px rgba(0,0,0,.3),
                   0 12px 6px rgba(0,0,0,.2),
                   0 18px 18px rgba(0,0,0,.25),
                   0 24px 24px rgba(0,0,0,.2),
                   0 36px 36px rgba(0,0,0,.15);
  
}

#practice02 {
    width:40%;
    height:200px;
    float:left;
    background-color:white; 
    margin:25px 15px;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 60pt;
    background:  rgb(0, 189, 180);
    border-radius: 30px;
    box-shadow: -15px -15px 15px rgb(61, 148, 189),
                15px 15px 15px rgb(23, 86, 122),
                inset -50px -50px 50px rgb(2, 88, 84),
                inset 50px 50px 50px rgb(75, 230, 222)
}

#practice02:hover {
    background:  mediumpurple;
    border-radius: 30px;
    box-shadow: -15px -15px 15px rgb(162, 125, 236),
                15px 15px 15px rgb(98, 70, 153),
                inset -50px -50px 50px rgb(82, 56, 134),
                inset 50px 50px 50px rgb(209, 186, 255);
}

